.1_2 { 
	overflow:hidden;
}.e1_2 { 
	background-color:rgba(255, 255, 255, 1);
	width:1920px;
	height:7071px;
	position:absolute;
}.e1_4 { 
	width:1920px;
	height:7071px;
	position:absolute;
	left:0px;
	top:0px;
}.e1_5 { 
	width:1920px;
	height:900px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/banner.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e4_759 { 
	width:1920px;
	height:900px;
	position:absolute;
	left:0px;
	top:0px;
}.e4_758 { 
	width:1920px;
	height:900px;
	position:absolute;
	left:0px;
	top:0px;
}.e1_6 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(0, 0, 0, 0.5);
	width:1920px;
	height:900px;
	position:absolute;
	left:0px;
	top:0px;
}.e4_760 { 
	width:1920px;
	height:900px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/frame_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e4_761 { 
	width:1920px;
	height:900px;
	position:absolute;
	left:0px;
	top:0px;
}.ei4_761_1_6 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(0, 0, 0, 0.5);
	width:1920px;
	height:900px;
	position:absolute;
	left:0px;
	top:0px;
}.e1_10 { 
	width:1170px;
	height:913px;
	position:absolute;
	left:375px;
	top:0px;
}.e1_11 { 
	width:750px;
	height:913px;
	position:absolute;
	left:210px;
	top:0px;
}.e1_12 { 
	width:750px;
	height:913px;
	position:absolute;
	left:0px;
	top:0px;
}.e1_13 { 
	width:750px;
	height:301px;
	position:absolute;
	left:0px;
	top:237.5px;
}.e1_14 { 
	color:rgba(255, 255, 255, 1);
	width:1158px;
	height:301px;
	position:absolute;
	left:-204.00498962402344px;
	top:0px;
	font-family:Mrs Saint Delafield;
	text-align:center;
	font-size:100px;
	letter-spacing:0;
	line-height:px;
}.e1_17 { 
	width:750px;
	height:30.600000381469727px;
	position:absolute;
	left:0px;
	top:537.9000244140625px;
}.e1_18 { 
	color:rgba(255, 255, 255, 1);
	width:208.6099853515625px;
	height:30px;
	position:absolute;
	left:270.69000244140625px;
	top:0px;
	font-family:Arial;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
	line-height:px;
}.e1_49 { 
	width:750px;
	height:87.5999984741211px;
	position:absolute;
	left:0px;
	top:567.9000244140625px;
}.e1_50 { 
	background-color:rgba(255, 255, 255, 1);
	width:149px;
	height:51px;
	position:absolute;
	left:298.4949951171875px;
	top:32.599998474121094px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}.e1_51 { 
	color:rgba(241.00000083446503, 78.00000295042992, 149.00000631809235, 1);
	width:109px;
	height:21px;
	position:absolute;
	left:20px;
	top:15px;
	font-family:Arial;
	text-align:center;
	font-size:14px;
	letter-spacing:0;
	line-height:px;
}.e1_8 { 
	width:1170px;
	height:1122.5999755859375px;
	position:absolute;
	left:375px;
	top:913px;
}.e1_9 { 
	width:1170px;
	height:1122.5999755859375px;
	position:absolute;
	left:0px;
	top:0px;
}.e1_54 { 
	width:1920px;
	height:706.800048828125px;
	position:absolute;
	left:0px;
	top:900px;
}.e1_55 { 
	width:1170px;
	height:482.8000183105469px;
	position:absolute;
	left:375px;
	top:112px;
}.e1_56 { 
	width:1170px;
	height:301px;
	position:absolute;
	left:0px;
	top:0px;
}.e1_57 { 
	width:780px;
	height:221px;
	position:absolute;
	left:195px;
	top:0px;
}.e1_58 { 
	width:750px;
	height:90px;
	position:absolute;
	left:15px;
	top:0px;
}.e1_59 { 
	color:rgba(241.00000083446503, 78.00000295042992, 149.00000631809235, 1);
	width:246px;
	height:90px;
	position:absolute;
	left:251.9949951171875px;
	top:0px;
	font-family:Arial;
	text-align:center;
	font-size:60px;
	letter-spacing:0;
	line-height:px;
}.e1_61 { 
	width:750px;
	height:27px;
	position:absolute;
	left:15px;
	top:100px;
}.e1_62 { 
	color:rgba(0, 0, 0, 1);
	width:401.55999755859375px;
	height:27px;
	position:absolute;
	left:174.2100067138672px;
	top:0px;
	font-family:Arial;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
	line-height:px;
}.e1_65 { 
	width:750px;
	height:64px;
	position:absolute;
	left:15px;
	top:137px;
}.e1_66 { 
	color:rgba(130.0000074505806, 130.0000074505806, 130.0000074505806, 1);
	width:319.8599853515625px;
	height:54px;
	position:absolute;
	left:215.05999755859375px;
	top:10px;
	font-family:Arial;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
	line-height:px;
}.e1_69 { 
	width:1026px;
	height:181.8000030517578px;
	position:absolute;
	left:72px;
	top:301px;
}.e1_70 { 
	width:513px;
	height:181.8000030517578px;
	position:absolute;
	left:0px;
	top:0px;
}.e1_71 { 
	width:150px;
	height:150px;
	position:absolute;
	left:358px;
	top:0px;
	border-top-left-radius:75px;
	border-top-right-radius:75px;
	border-bottom-left-radius:75px;
	border-bottom-right-radius:75px;
	background-image:url(images/groom_jpg.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e1_72 { 
	width:513px;
	height:162px;
	position:absolute;
	left:0px;
	top:0px;
}.e1_82 { 
	width:333px;
	height:33px;
	position:absolute;
	left:0px;
	top:0px;
}.e1_83 { 
	color:rgba(241.00000083446503, 78.00000295042992, 149.00000631809235, 1);
	width:333px;
	height:33px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Arial;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
	line-height:px;
}.e1_76 { 
	width:333px;
	height:109px;
	position:absolute;
	left:0px;
	top:53px;
}.e1_77 { 
	color:rgba(130.0000074505806, 130.0000074505806, 130.0000074505806, 1);
	width:333px;
	height:109px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Arial;
	text-align:right;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}.e1_79 { 
	width:513px;
	height:181.8000030517578px;
	position:absolute;
	left:513px;
	top:0px;
}.e1_80 { 
	width:150px;
	height:150px;
	position:absolute;
	left:5px;
	top:0px;
	border-top-left-radius:75px;
	border-top-right-radius:75px;
	border-bottom-left-radius:75px;
	border-bottom-right-radius:75px;
	background-image:url(images/bride_jpg.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e1_81 { 
	width:513px;
	height:162px;
	position:absolute;
	left:0px;
	top:0px;
}.e1_1208 { 
	width:333px;
	height:33px;
	position:absolute;
	left:180px;
	top:0px;
}.e1_1209 { 
	color:rgba(241.00000083446503, 78.00000295042992, 149.00000631809235, 1);
	width:333px;
	height:33px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Arial;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
	line-height:px;
}.e1_84 { 
	width:333px;
	height:109px;
	position:absolute;
	left:180px;
	top:53px;
}.e1_85 { 
	color:rgba(130.0000074505806, 130.0000074505806, 130.0000074505806, 1);
	width:333px;
	height:109px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Arial;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}.e1_86 { 
	width:1026px;
	height:60px;
	position:absolute;
	left:0px;
	top:44.79999923706055px;
}.e1_87 { 
	background-color:rgba(255, 255, 255, 1);
	width:60px;
	height:60px;
	position:absolute;
	left:483px;
	top:0px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}.e1_88 { 
	color:rgba(241.00000083446503, 78.00000295042992, 149.00000631809235, 1);
	width:20px;
	height:20px;
	position:absolute;
	left:20px;
	top:20px;
	font-family:Inter;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
	line-height:px;
}.e1_90 { 
	width:1920px;
	height:850px;
	position:absolute;
	left:0px;
	top:1606.800048828125px;
	background-image:url(images/background.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e1_91 { 
	background-color:rgba(0, 0, 0, 0.4000000059604645);
	width:1920px;
	height:850px;
	position:absolute;
	left:0px;
	top:0px;
}.e1_93 { 
	width:1170px;
	height:208.10000610351562px;
	position:absolute;
	left:375px;
	top:112px;
}.e1_94 { 
	width:1170px;
	height:208.10000610351562px;
	position:absolute;
	left:0px;
	top:0px;
}.e1_95 { 
	width:780px;
	height:128.10000610351562px;
	position:absolute;
	left:195px;
	top:0px;
}.e1_99 { 
	width:750px;
	height:90px;
	position:absolute;
	left:15px;
	top:3.3500003814697266px;
}.e1_100 { 
	color:rgba(255, 255, 255, 1);
	width:465.6300048828125px;
	height:90px;
	position:absolute;
	left:142.19000244140625px;
	top:0px;
	font-family:Mrs Saint Delafield;
	text-align:center;
	font-size:96px;
	letter-spacing:0;
	line-height:px;
}.e1_96 { 
	color:rgba(255, 255, 255, 0.5);
	width:280px;
	height:23px;
	position:absolute;
	left:250px;
	top:95.0999984741211px;
	font-family:Arial;
	text-align:center;
	font-size:13px;
	letter-spacing:2;
	line-height:px;
}.e1_140 { 
	width:1920px;
	height:1770.75px;
	position:absolute;
	left:0px;
	top:2456.800048828125px;
}.e1_141 { 
	width:1170px;
	height:1546.75px;
	position:absolute;
	left:375px;
	top:112px;
}.e1_142 { 
	width:1170px;
	height:374.3500061035156px;
	position:absolute;
	left:0px;
	top:0px;
}.e1_143 { 
	width:780px;
	height:294.3500061035156px;
	position:absolute;
	left:195px;
	top:0px;
}.e1_145 { 
	width:750px;
	height:180px;
	position:absolute;
	left:15px;
	top:3.3500003814697266px;
}.e1_146 { 
	color:rgba(241.00000083446503, 78.00000295042992, 149.00000631809235, 1);
	width:276.71002197265625px;
	height:180px;
	position:absolute;
	left:236.63998413085938px;
	top:0px;
	font-family:Arial;
	text-align:center;
	font-size:60px;
	letter-spacing:0;
	line-height:px;
}.e1_147 { 
	width:750px;
	height:89.19999694824219px;
	position:absolute;
	left:15px;
	top:185.15000915527344px;
}.e1_148 { 
	color:rgba(130.0000074505806, 130.0000074505806, 130.0000074505806, 1);
	width:714.0700073242188px;
	height:81px;
	position:absolute;
	left:17.95999526977539px;
	top:8.199999809265137px;
	font-family:Arial;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
	line-height:px;
}.e1_149 { 
	width:1170px;
	height:1172.4000244140625px;
	position:absolute;
	left:0px;
	top:374.3500061035156px;
}.e1_150 { 
	width:1140px;
	height:1162.4000244140625px;
	position:absolute;
	left:15px;
	top:0px;
}.e1_151 { 
	background-color:rgba(212.00000256299973, 212.00000256299973, 212.00000256299973, 1);
	width:1px;
	height:1161.800048828125px;
	position:absolute;
	left:570px;
	top:0px;
}.e1_153 { 
	width:1140px;
	height:260.6000061035156px;
	position:absolute;
	left:0px;
	top:20px;
}.1_154 { 
	border:1px solid rgba(212.00000256299973, 212.00000256299973, 212.00000256299973, 1);
}.e1_154 { 
	width:1140px;
	height:260.6000061035156px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
}.e1_155 { 
	width:1078.4000244140625px;
	height:70px;
	position:absolute;
	left:30.799999237060547px;
	top:30.799999237060547px;
}.e1_156 { 
	width:1078.4000244140625px;
	height:27px;
	position:absolute;
	left:0px;
	top:0px;
}.e1_157 { 
	color:rgba(0, 0, 0, 1);
	width:1078.4000244140625px;
	height:27px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Arial;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
	line-height:px;
}.e1_158 { 
	width:1078.4000244140625px;
	height:23.649999618530273px;
	position:absolute;
	left:0px;
	top:46.349998474121094px;
}.e1_159 { 
	color:rgba(130.0000074505806, 130.0000074505806, 130.0000074505806, 1);
	width:1078.4000244140625px;
	height:23px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Arial;
	text-align:left;
	font-size:13px;
	letter-spacing:2;
	line-height:px;
}.e1_161 { 
	width:1078.4000244140625px;
	height:109px;
	position:absolute;
	left:30.799999237060547px;
	top:120.80000305175781px;
}.e1_162 { 
	color:rgba(130.0000074505806, 130.0000074505806, 130.0000074505806, 1);
	width:386px;
	height:109px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Arial;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}.e1_163 { 
	width:36px;
	height:28.799999237060547px;
	position:absolute;
	left:1139.5px;
	top:80.80000305175781px;
}.e1_165 { 
	width:34px;
	height:27.200000762939453px;
	position:absolute;
	left:1139px;
	top:81.80000305175781px;
}.e1_167 { 
	background-color:rgba(153.00000607967377, 153.00000607967377, 153.00000607967377, 1);
	width:160px;
	height:160px;
	position:absolute;
	left:490px;
	top:16px;
	border-top-left-radius:80px;
	border-top-right-radius:80px;
	border-bottom-left-radius:80px;
	border-bottom-right-radius:80px;
	background-image:url(images/image_background.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e4_2 { 
	width:1140px;
	height:260.6000061035156px;
	position:absolute;
	left:0px;
	top:300.60009765625px;
}.e1_168 { 
	width:1140px;
	height:260.6000061035156px;
	position:absolute;
	left:0px;
	top:0px;
}.1_169 { 
	border:1px solid rgba(212.00000256299973, 212.00000256299973, 212.00000256299973, 1);
}.e1_169 { 
	width:456px;
	height:260.6000061035156px;
	position:absolute;
	left:684px;
	top:0px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
}.e1_170 { 
	width:394.3999938964844px;
	height:70px;
	position:absolute;
	left:30.799999237060547px;
	top:30.799999237060547px;
}.e1_171 { 
	width:394.3999938964844px;
	height:27px;
	position:absolute;
	left:0px;
	top:0px;
}.e1_172 { 
	color:rgba(0, 0, 0, 1);
	width:394.3999938964844px;
	height:27px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Arial;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
	line-height:px;
}.e1_173 { 
	width:394.3999938964844px;
	height:23.649999618530273px;
	position:absolute;
	left:0px;
	top:46.349998474121094px;
}.e1_174 { 
	color:rgba(130.0000074505806, 130.0000074505806, 130.0000074505806, 1);
	width:394.3999938964844px;
	height:23px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Arial;
	text-align:left;
	font-size:13px;
	letter-spacing:2;
	line-height:px;
}.e1_175 { 
	width:394.3999938964844px;
	height:109px;
	position:absolute;
	left:30.799999237060547px;
	top:120.80000305175781px;
}.e1_176 { 
	color:rgba(130.0000074505806, 130.0000074505806, 130.0000074505806, 1);
	width:394.3999938964844px;
	height:109px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Arial;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}.e1_177 { 
	width:14.399999618530273px;
	height:28.799999237060547px;
	position:absolute;
	left:-14.199999809265137px;
	top:80.80000305175781px;
}.e1_179 { 
	width:13.600000381469727px;
	height:27.200000762939453px;
	position:absolute;
	left:-13.199999809265137px;
	top:81.80000305175781px;
}.e1_181 { 
	background-color:rgba(153.00000607967377, 153.00000607967377, 153.00000607967377, 1);
	width:160px;
	height:160px;
	position:absolute;
	left:490px;
	top:16px;
	border-top-left-radius:80px;
	border-top-right-radius:80px;
	border-bottom-left-radius:80px;
	border-bottom-right-radius:80px;
	background-image:url(images/image_background.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e1_182 { 
	width:1140px;
	height:260.6000061035156px;
	position:absolute;
	left:0px;
	top:581.2000122070312px;
}.1_183 { 
	border:1px solid rgba(212.00000256299973, 212.00000256299973, 212.00000256299973, 1);
}.e1_183 { 
	width:1140px;
	height:260.6000061035156px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
}.e1_184 { 
	width:1078.4000244140625px;
	height:70px;
	position:absolute;
	left:30.799999237060547px;
	top:30.799999237060547px;
}.e1_185 { 
	width:1078.4000244140625px;
	height:27px;
	position:absolute;
	left:0px;
	top:0px;
}.e1_186 { 
	color:rgba(0, 0, 0, 1);
	width:1078.4000244140625px;
	height:27px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Arial;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
	line-height:px;
}.e1_187 { 
	width:1078.4000244140625px;
	height:23.649999618530273px;
	position:absolute;
	left:0px;
	top:46.349998474121094px;
}.e1_188 { 
	color:rgba(130.0000074505806, 130.0000074505806, 130.0000074505806, 1);
	width:1078.4000244140625px;
	height:23px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Arial;
	text-align:left;
	font-size:13px;
	letter-spacing:2;
	line-height:px;
}.e1_189 { 
	width:386px;
	height:109px;
	position:absolute;
	left:30.79998779296875px;
	top:120.80000305175781px;
}.e1_190 { 
	color:rgba(130.0000074505806, 130.0000074505806, 130.0000074505806, 1);
	width:386px;
	height:109px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Arial;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}.e1_191 { 
	width:36px;
	height:28.799999237060547px;
	position:absolute;
	left:1139.5px;
	top:80.80000305175781px;
}.e1_192 { 
	width:34px;
	height:27.200000762939453px;
	position:absolute;
	left:1139px;
	top:81.80000305175781px;
}.e1_193 { 
	background-color:rgba(153.00000607967377, 153.00000607967377, 153.00000607967377, 1);
	width:160px;
	height:160px;
	position:absolute;
	left:490px;
	top:16px;
	border-top-left-radius:80px;
	border-top-right-radius:80px;
	border-bottom-left-radius:80px;
	border-bottom-right-radius:80px;
	background-image:url(images/image_background.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e4_3 { 
	width:1140px;
	height:260.6000061035156px;
	position:absolute;
	left:0px;
	top:861.800048828125px;
}.e4_4 { 
	width:1140px;
	height:260.6000061035156px;
	position:absolute;
	left:0px;
	top:0px;
}.4_5 { 
	border:1px solid rgba(212.00000256299973, 212.00000256299973, 212.00000256299973, 1);
}.e4_5 { 
	width:456px;
	height:260.6000061035156px;
	position:absolute;
	left:684px;
	top:0px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
}.e4_6 { 
	width:394.3999938964844px;
	height:70px;
	position:absolute;
	left:30.799999237060547px;
	top:30.799999237060547px;
}.e4_7 { 
	width:394.3999938964844px;
	height:27px;
	position:absolute;
	left:0px;
	top:0px;
}.e4_8 { 
	color:rgba(0, 0, 0, 1);
	width:394.3999938964844px;
	height:27px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Arial;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
	line-height:px;
}.e4_9 { 
	width:394.3999938964844px;
	height:23.649999618530273px;
	position:absolute;
	left:0px;
	top:46.349998474121094px;
}.e4_10 { 
	color:rgba(130.0000074505806, 130.0000074505806, 130.0000074505806, 1);
	width:394.3999938964844px;
	height:23px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Arial;
	text-align:left;
	font-size:13px;
	letter-spacing:2;
	line-height:px;
}.e4_11 { 
	width:394.3999938964844px;
	height:109px;
	position:absolute;
	left:30.799999237060547px;
	top:120.80000305175781px;
}.e4_12 { 
	color:rgba(130.0000074505806, 130.0000074505806, 130.0000074505806, 1);
	width:394.3999938964844px;
	height:109px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Arial;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}.e4_13 { 
	width:14.399999618530273px;
	height:28.799999237060547px;
	position:absolute;
	left:-14.199999809265137px;
	top:80.80000305175781px;
}.e4_14 { 
	width:13.600000381469727px;
	height:27.200000762939453px;
	position:absolute;
	left:-13.199999809265137px;
	top:81.80000305175781px;
}.e4_15 { 
	background-color:rgba(153.00000607967377, 153.00000607967377, 153.00000607967377, 1);
	width:160px;
	height:160px;
	position:absolute;
	left:490px;
	top:16px;
	border-top-left-radius:80px;
	border-top-right-radius:80px;
	border-bottom-left-radius:80px;
	border-bottom-right-radius:80px;
	background-image:url(images/image_background.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e1_194 { 
	background-color:rgba(0, 0, 0, 0.03999999910593033);
	width:1920px;
	height:1763.1500244140625px;
	position:absolute;
	left:0px;
	top:4227.5498046875px;
}.e1_196 { 
	width:1170px;
	height:1539.1500244140625px;
	position:absolute;
	left:375px;
	top:112px;
}.e1_197 { 
	width:1170px;
	height:309.1499938964844px;
	position:absolute;
	left:0px;
	top:0px;
}.e1_198 { 
	width:780px;
	height:229.14999389648438px;
	position:absolute;
	left:195px;
	top:0px;
}.e1_199 { 
	color:rgba(0, 0, 0, 0.4000000059604645);
	width:126px;
	height:23px;
	position:absolute;
	left:327px;
	top:3.3499999046325684px;
	font-family:Arial;
	text-align:center;
	font-size:13px;
	letter-spacing:2;
	line-height:px;
}.e1_200 { 
	width:750px;
	height:90px;
	position:absolute;
	left:15px;
	top:28.149999618530273px;
}.e1_201 { 
	color:rgba(241.00000083446503, 78.00000295042992, 149.00000631809235, 1);
	width:472.32000732421875px;
	height:90px;
	position:absolute;
	left:138.83999633789062px;
	top:0px;
	font-family:Arial;
	text-align:center;
	font-size:60px;
	letter-spacing:0;
	line-height:px;
}.e1_202 { 
	width:750px;
	height:89.19999694824219px;
	position:absolute;
	left:15px;
	top:119.95000457763672px;
}.e1_203 { 
	color:rgba(130.0000074505806, 130.0000074505806, 130.0000074505806, 1);
	width:714.0700073242188px;
	height:81px;
	position:absolute;
	left:17.95999526977539px;
	top:8.199999809265137px;
	font-family:Arial;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
	line-height:px;
}.e1_204 { 
	width:1170px;
	height:1230px;
	position:absolute;
	left:0px;
	top:309.1499938964844px;
}.e1_205 { 
	width:1140px;
	height:1230px;
	position:absolute;
	left:15px;
	top:0px;
}.e1_206 { 
	width:379.6099853515625px;
	height:410px;
	position:absolute;
	left:0px;
	top:0px;
}.e1_207 { 
	width:368.2099914550781px;
	height:400px;
	position:absolute;
	left:11.399999618530273px;
	top:0px;
	border-top-left-radius:7px;
	border-top-right-radius:7px;
	border-bottom-left-radius:7px;
	border-bottom-right-radius:7px;
	background-image:url(images/item.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e1_208 { 
	width:368.2099914550781px;
	height:400px;
	position:absolute;
	left:0px;
	top:0px;
}.e1_209 { 
	background-color:rgba(0, 0, 0, 0.20000000298023224);
	width:368.2099914550781px;
	height:400px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:7px;
	border-top-right-radius:7px;
	border-bottom-left-radius:7px;
	border-bottom-right-radius:7px;
}.e1_211 { 
	width:304.2099914550781px;
	height:61.099998474121094px;
	position:absolute;
	left:32px;
	top:307.79998779296875px;
}.e1_212 { 
	color:rgba(255, 255, 255, 0.699999988079071);
	width:89px;
	height:23px;
	position:absolute;
	left:0px;
	top:3.3499999046325684px;
	font-family:Arial;
	text-align:left;
	font-size:13px;
	letter-spacing:2;
	line-height:px;
}.e1_213 { 
	width:304.2099914550781px;
	height:33px;
	position:absolute;
	left:0px;
	top:28.100000381469727px;
}.e1_214 { 
	color:rgba(255, 255, 255, 1);
	width:304.2099914550781px;
	height:33px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Arial;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
	line-height:px;
}.e1_216 { 
	width:379.6099853515625px;
	height:410px;
	position:absolute;
	left:379.6099853515625px;
	top:0px;
}.e1_217 { 
	width:368.2099914550781px;
	height:400px;
	position:absolute;
	left:11.399999618530273px;
	top:0px;
	border-top-left-radius:7px;
	border-top-right-radius:7px;
	border-bottom-left-radius:7px;
	border-bottom-right-radius:7px;
	background-image:url(images/item.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e1_218 { 
	width:368.2099914550781px;
	height:400px;
	position:absolute;
	left:0px;
	top:0px;
}.e1_219 { 
	background-color:rgba(0, 0, 0, 0.20000000298023224);
	width:368.2099914550781px;
	height:400px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:7px;
	border-top-right-radius:7px;
	border-bottom-left-radius:7px;
	border-bottom-right-radius:7px;
}.e1_220 { 
	width:304.2099914550781px;
	height:61.099998474121094px;
	position:absolute;
	left:32px;
	top:307.79998779296875px;
}.e1_221 { 
	color:rgba(255, 255, 255, 0.699999988079071);
	width:89px;
	height:23px;
	position:absolute;
	left:0px;
	top:3.3499999046325684px;
	font-family:Arial;
	text-align:left;
	font-size:13px;
	letter-spacing:2;
	line-height:px;
}.e1_222 { 
	width:304.2099914550781px;
	height:33px;
	position:absolute;
	left:0px;
	top:28.100000381469727px;
}.e1_223 { 
	color:rgba(255, 255, 255, 1);
	width:304.2099914550781px;
	height:33px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Arial;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
	line-height:px;
}.e1_225 { 
	width:379.6099853515625px;
	height:410px;
	position:absolute;
	left:759.22998046875px;
	top:0px;
}.e1_226 { 
	width:368.2099914550781px;
	height:400px;
	position:absolute;
	left:11.399999618530273px;
	top:0px;
	border-top-left-radius:7px;
	border-top-right-radius:7px;
	border-bottom-left-radius:7px;
	border-bottom-right-radius:7px;
	background-image:url(images/item.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e1_227 { 
	width:368.2099914550781px;
	height:400px;
	position:absolute;
	left:0px;
	top:0px;
}.e1_228 { 
	background-color:rgba(0, 0, 0, 0.20000000298023224);
	width:368.2099914550781px;
	height:400px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:7px;
	border-top-right-radius:7px;
	border-bottom-left-radius:7px;
	border-bottom-right-radius:7px;
}.e1_229 { 
	width:304.2099914550781px;
	height:61.099998474121094px;
	position:absolute;
	left:32px;
	top:307.79998779296875px;
}.e1_230 { 
	color:rgba(255, 255, 255, 0.699999988079071);
	width:89px;
	height:23px;
	position:absolute;
	left:0px;
	top:3.3499999046325684px;
	font-family:Arial;
	text-align:left;
	font-size:13px;
	letter-spacing:2;
	line-height:px;
}.e1_231 { 
	width:304.2099914550781px;
	height:33px;
	position:absolute;
	left:0px;
	top:28.100000381469727px;
}.e1_232 { 
	color:rgba(255, 255, 255, 1);
	width:304.2099914550781px;
	height:33px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Arial;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
	line-height:px;
}.e1_234 { 
	width:379.6099853515625px;
	height:410px;
	position:absolute;
	left:0px;
	top:410px;
}.e1_235 { 
	width:368.2099914550781px;
	height:400px;
	position:absolute;
	left:11.399999618530273px;
	top:0px;
	border-top-left-radius:7px;
	border-top-right-radius:7px;
	border-bottom-left-radius:7px;
	border-bottom-right-radius:7px;
	background-image:url(images/item.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e1_236 { 
	width:368.2099914550781px;
	height:400px;
	position:absolute;
	left:0px;
	top:0px;
}.e1_237 { 
	background-color:rgba(0, 0, 0, 0.20000000298023224);
	width:368.2099914550781px;
	height:400px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:7px;
	border-top-right-radius:7px;
	border-bottom-left-radius:7px;
	border-bottom-right-radius:7px;
}.e1_238 { 
	width:304.2099914550781px;
	height:94.0999984741211px;
	position:absolute;
	left:32px;
	top:274.79998779296875px;
}.e1_239 { 
	color:rgba(255, 255, 255, 0.699999988079071);
	width:89px;
	height:23px;
	position:absolute;
	left:0px;
	top:3.3499999046325684px;
	font-family:Arial;
	text-align:left;
	font-size:13px;
	letter-spacing:2;
	line-height:px;
}.e1_240 { 
	width:304.2099914550781px;
	height:66px;
	position:absolute;
	left:0px;
	top:28.100000381469727px;
}.e1_241 { 
	color:rgba(255, 255, 255, 1);
	width:304.2099914550781px;
	height:66px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Arial;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
	line-height:px;
}.e1_243 { 
	width:379.6099853515625px;
	height:410px;
	position:absolute;
	left:379.6099853515625px;
	top:410px;
}.e1_244 { 
	width:368.2099914550781px;
	height:400px;
	position:absolute;
	left:11.399999618530273px;
	top:0px;
	border-top-left-radius:7px;
	border-top-right-radius:7px;
	border-bottom-left-radius:7px;
	border-bottom-right-radius:7px;
	background-image:url(images/item.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e1_245 { 
	width:368.2099914550781px;
	height:400px;
	position:absolute;
	left:0px;
	top:0px;
}.e1_246 { 
	background-color:rgba(0, 0, 0, 0.20000000298023224);
	width:368.2099914550781px;
	height:400px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:7px;
	border-top-right-radius:7px;
	border-bottom-left-radius:7px;
	border-bottom-right-radius:7px;
}.e1_247 { 
	width:304.2099914550781px;
	height:61.099998474121094px;
	position:absolute;
	left:32px;
	top:307.79998779296875px;
}.e1_248 { 
	color:rgba(255, 255, 255, 0.699999988079071);
	width:89px;
	height:23px;
	position:absolute;
	left:0px;
	top:3.3499999046325684px;
	font-family:Arial;
	text-align:left;
	font-size:13px;
	letter-spacing:2;
	line-height:px;
}.e1_249 { 
	width:304.2099914550781px;
	height:33px;
	position:absolute;
	left:0px;
	top:28.100000381469727px;
}.e1_250 { 
	color:rgba(255, 255, 255, 1);
	width:304.2099914550781px;
	height:33px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Arial;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
	line-height:px;
}.e1_252 { 
	width:379.6099853515625px;
	height:410px;
	position:absolute;
	left:759.22998046875px;
	top:410px;
}.e1_253 { 
	width:368.2099914550781px;
	height:400px;
	position:absolute;
	left:11.399999618530273px;
	top:0px;
	border-top-left-radius:7px;
	border-top-right-radius:7px;
	border-bottom-left-radius:7px;
	border-bottom-right-radius:7px;
	background-image:url(images/item.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e1_254 { 
	width:368.2099914550781px;
	height:400px;
	position:absolute;
	left:0px;
	top:0px;
}.e1_255 { 
	background-color:rgba(0, 0, 0, 0.20000000298023224);
	width:368.2099914550781px;
	height:400px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:7px;
	border-top-right-radius:7px;
	border-bottom-left-radius:7px;
	border-bottom-right-radius:7px;
}.e1_256 { 
	width:304.2099914550781px;
	height:61.099998474121094px;
	position:absolute;
	left:32px;
	top:307.79998779296875px;
}.e1_257 { 
	color:rgba(255, 255, 255, 0.699999988079071);
	width:89px;
	height:23px;
	position:absolute;
	left:0px;
	top:3.3499999046325684px;
	font-family:Arial;
	text-align:left;
	font-size:13px;
	letter-spacing:2;
	line-height:px;
}.e1_258 { 
	width:304.2099914550781px;
	height:33px;
	position:absolute;
	left:0px;
	top:28.100000381469727px;
}.e1_259 { 
	color:rgba(255, 255, 255, 1);
	width:304.2099914550781px;
	height:33px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Arial;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
	line-height:px;
}.e1_261 { 
	width:379.6099853515625px;
	height:410px;
	position:absolute;
	left:0px;
	top:820px;
}.e1_262 { 
	width:368.2099914550781px;
	height:400px;
	position:absolute;
	left:11.399999618530273px;
	top:0px;
	border-top-left-radius:7px;
	border-top-right-radius:7px;
	border-bottom-left-radius:7px;
	border-bottom-right-radius:7px;
	background-image:url(images/item.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e1_263 { 
	width:368.2099914550781px;
	height:400px;
	position:absolute;
	left:0px;
	top:0px;
}.e1_264 { 
	background-color:rgba(0, 0, 0, 0.20000000298023224);
	width:368.2099914550781px;
	height:400px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:7px;
	border-top-right-radius:7px;
	border-bottom-left-radius:7px;
	border-bottom-right-radius:7px;
}.e1_265 { 
	width:304.2099914550781px;
	height:61.099998474121094px;
	position:absolute;
	left:32px;
	top:307.79998779296875px;
}.e1_266 { 
	color:rgba(255, 255, 255, 0.699999988079071);
	width:89px;
	height:23px;
	position:absolute;
	left:0px;
	top:3.3499999046325684px;
	font-family:Arial;
	text-align:left;
	font-size:13px;
	letter-spacing:2;
	line-height:px;
}.e1_267 { 
	width:304.2099914550781px;
	height:33px;
	position:absolute;
	left:0px;
	top:28.100000381469727px;
}.e1_268 { 
	color:rgba(255, 255, 255, 1);
	width:304.2099914550781px;
	height:33px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Arial;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
	line-height:px;
}.e1_270 { 
	width:379.6099853515625px;
	height:410px;
	position:absolute;
	left:379.6099853515625px;
	top:820px;
}.e1_271 { 
	width:368.2099914550781px;
	height:400px;
	position:absolute;
	left:11.399999618530273px;
	top:0px;
	border-top-left-radius:7px;
	border-top-right-radius:7px;
	border-bottom-left-radius:7px;
	border-bottom-right-radius:7px;
	background-image:url(images/item.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e1_272 { 
	width:368.2099914550781px;
	height:400px;
	position:absolute;
	left:0px;
	top:0px;
}.e1_273 { 
	background-color:rgba(0, 0, 0, 0.20000000298023224);
	width:368.2099914550781px;
	height:400px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:7px;
	border-top-right-radius:7px;
	border-bottom-left-radius:7px;
	border-bottom-right-radius:7px;
}.e1_274 { 
	width:304.2099914550781px;
	height:61.099998474121094px;
	position:absolute;
	left:32px;
	top:307.79998779296875px;
}.e1_275 { 
	color:rgba(255, 255, 255, 0.699999988079071);
	width:89px;
	height:23px;
	position:absolute;
	left:0px;
	top:3.3499999046325684px;
	font-family:Arial;
	text-align:left;
	font-size:13px;
	letter-spacing:2;
	line-height:px;
}.e1_276 { 
	width:304.2099914550781px;
	height:33px;
	position:absolute;
	left:0px;
	top:28.100000381469727px;
}.e1_277 { 
	color:rgba(255, 255, 255, 1);
	width:304.2099914550781px;
	height:33px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Arial;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
	line-height:px;
}.e1_279 { 
	width:379.6099853515625px;
	height:410px;
	position:absolute;
	left:759.22998046875px;
	top:820px;
}.e1_280 { 
	width:368.2099914550781px;
	height:400px;
	position:absolute;
	left:11.399999618530273px;
	top:0px;
	border-top-left-radius:7px;
	border-top-right-radius:7px;
	border-bottom-left-radius:7px;
	border-bottom-right-radius:7px;
	background-image:url(images/item.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e1_281 { 
	width:368.2099914550781px;
	height:400px;
	position:absolute;
	left:0px;
	top:0px;
}.e1_282 { 
	background-color:rgba(0, 0, 0, 0.20000000298023224);
	width:368.2099914550781px;
	height:400px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:7px;
	border-top-right-radius:7px;
	border-bottom-left-radius:7px;
	border-bottom-right-radius:7px;
}.e1_283 { 
	width:304.2099914550781px;
	height:61.099998474121094px;
	position:absolute;
	left:32px;
	top:307.79998779296875px;
}.e1_284 { 
	color:rgba(255, 255, 255, 0.699999988079071);
	width:89px;
	height:23px;
	position:absolute;
	left:0px;
	top:3.3499999046325684px;
	font-family:Arial;
	text-align:left;
	font-size:13px;
	letter-spacing:2;
	line-height:px;
}.e1_285 { 
	width:304.2099914550781px;
	height:33px;
	position:absolute;
	left:0px;
	top:28.100000381469727px;
}.e1_286 { 
	color:rgba(255, 255, 255, 1);
	width:304.2099914550781px;
	height:33px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Arial;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
	line-height:px;
}.e1_321 { 
	width:1920px;
	height:952.0999755859375px;
	position:absolute;
	left:0px;
	top:5990.69970703125px;
}.e1_322 { 
	width:1185px;
	height:208.10000610351562px;
	position:absolute;
	left:360px;
	top:112px;
}.e1_323 { 
	width:1185px;
	height:208.10000610351562px;
	position:absolute;
	left:0px;
	top:0px;
}.e1_324 { 
	width:1200px;
	height:208.10000610351562px;
	position:absolute;
	left:0px;
	top:0px;
}.e1_325 { 
	width:800px;
	height:128.10000610351562px;
	position:absolute;
	left:200px;
	top:0px;
}.e1_326 { 
	color:rgba(0, 0, 0, 0.4000000059604645);
	width:52px;
	height:23px;
	position:absolute;
	left:374px;
	top:3.3499999046325684px;
	font-family:Arial;
	text-align:center;
	font-size:13px;
	letter-spacing:2;
	line-height:px;
}.e1_327 { 
	width:770px;
	height:90px;
	position:absolute;
	left:15px;
	top:28.100000381469727px;
}.e1_328 { 
	color:rgba(241.00000083446503, 78.00000295042992, 149.00000631809235, 1);
	width:442.9100036621094px;
	height:90px;
	position:absolute;
	left:163.5399932861328px;
	top:0px;
	font-family:Arial;
	text-align:center;
	font-size:60px;
	letter-spacing:0;
	line-height:px;
}.e1_1211 { 
	width:457px;
	height:520px;
	position:absolute;
	left:724px;
	top:320.10009765625px;
	border-top-left-radius:43px;
	border-top-right-radius:43px;
	border-bottom-left-radius:43px;
	border-bottom-right-radius:43px;
	background-image:url(images/aswin_wedding_location_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e1_352 { 
	background-color:rgba(0, 0, 0, 0.03999999910593033);
	width:1920px;
	height:898px;
	position:absolute;
	left:0px;
	top:6942.7998046875px;
}.e1_357 { 
	background-color:rgba(0, 0, 0, 0.5);
	width:1920px;
	height:421px;
	position:absolute;
	left:0px;
	top:-0.2001953125px;
}.e1_358 { 
	width:1920px;
	height:385.17999267578125px;
	position:absolute;
	left:0px;
	top:7840.7998046875px;
}.e1_377 { 
	width:1920px;
	height:847px;
	position:absolute;
	left:0px;
	top:0px;
}.e1_378 { 
	width:1170px;
	height:40px;
	position:absolute;
	left:375px;
	top:40px;
}.e1_379 { 
	width:1170px;
	height:40px;
	position:absolute;
	left:0px;
	top:0px;
}.e1_386 { 
	width:944.989990234375px;
	height:27.200000762939453px;
	position:absolute;
	left:210px;
	top:2px;
}.e1_387 { 
	color:rgba(255, 255, 255, 1);
	width:42.328125px;
	height:23.799999237060547px;
	position:absolute;
	left:545.9500122070312px;
	top:2.5px;
	font-family:Arial;
	text-align:right;
	font-size:14px;
	letter-spacing:0;
	line-height:px;
}.e1_389 { 
	color:rgba(255, 255, 255, 0.5);
	width:48.06599807739258px;
	height:23.799999237060547px;
	position:absolute;
	left:612.4000244140625px;
	top:2.5px;
	font-family:Arial;
	text-align:right;
	font-size:14px;
	letter-spacing:0;
	line-height:px;
}.e1_390 { 
	color:rgba(255, 255, 255, 0.5);
	width:66.93254852294922px;
	height:23.799999237060547px;
	position:absolute;
	left:868.3599853515625px;
	top:2.5px;
	font-family:Arial;
	text-align:right;
	font-size:14px;
	letter-spacing:0;
	line-height:px;
}.e1_391 { 
	width:95.44999694824219px;
	height:24px;
	position:absolute;
	left:674.5800170898438px;
	top:2.5px;
}.e1_392 { 
	color:rgba(255, 255, 255, 0.5);
	width:71px;
	height:24px;
	position:absolute;
	left:10px;
	top:0px;
	font-family:Arial;
	text-align:right;
	font-size:14px;
	letter-spacing:0;
	line-height:px;
}.e1_393 { 
	width:89.44999694824219px;
	height:24px;
	position:absolute;
	left:769.5800170898438px;
	top:2.5px;
}.e1_394 { 
	color:rgba(255, 255, 255, 0.5);
	width:65px;
	height:24px;
	position:absolute;
	left:10px;
	top:0px;
	font-family:Arial;
	text-align:right;
	font-size:14px;
	letter-spacing:0;
	line-height:px;
}.e3_1233 { 
	width:1266px;
	height:727px;
	position:absolute;
	left:327px;
	top:80px;
}